## 5.2.1 Exercises

### 1. For each of the sample tables, describe what each observation and each column represents.
```r
            table1
            #> # A tibble: 6 × 4
            #>   country      year  cases population
            #>   <chr>       <dbl>  <dbl>      <dbl>
            #> 1 Afghanistan  1999    745   19987071
            #> 2 Afghanistan  2000   2666   20595360
            #> 3 Brazil       1999  37737  172006362
            #> 4 Brazil       2000  80488  174504898
            #> 5 China        1999 212258 1272915272
            #> 6 China        2000 213766 1280428583

            table2
            #> # A tibble: 12 × 4
            #>   country      year type           count
            #>   <chr>       <dbl> <chr>          <dbl>
            #> 1 Afghanistan  1999 cases            745
            #> 2 Afghanistan  1999 population  19987071
            #> 3 Afghanistan  2000 cases           2666
            #> 4 Afghanistan  2000 population  20595360
            #> 5 Brazil       1999 cases          37737
            #> 6 Brazil       1999 population 172006362
            #> # ℹ 6 more rows

            table3
            #> # A tibble: 6 × 3
            #>   country      year rate             
            #>   <chr>       <dbl> <chr>            
            #> 1 Afghanistan  1999 745/19987071     
            #> 2 Afghanistan  2000 2666/20595360    
            #> 3 Brazil       1999 37737/172006362  
            #> 4 Brazil       2000 80488/174504898  
            #> 5 China        1999 212258/1272915272
            #> 6 China        2000 213766/1280428583
```

### 2. Sketch out the process you’d use to calculate the `rate` for `table2` and `table3`. You will need to perform four operations:  

-   a. Extract the number of TB cases per country per year.
-   b. Extract the matching population per country per year.
-   c. Divide cases by population, and multiply by 10000.
-   d. Store back in the appropriate place.  

You haven’t yet learned all the functions you’d need to actually perform these operations, but you should still be able to think through the transformations you’d need.