## [5.2.1 Exercises](https://r4ds.hadley.nz/data-tidy#exercises)

In [1]:
library(tidyverse)
library(dplyr)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.5.1     ✔ purrr   1.0.2
✔ tibble  3.2.1     ✔ dplyr   1.1.4
✔ tidyr   1.3.1     ✔ stringr 1.5.1
✔ readr   2.1.5     ✔ forcats 1.0.0
Warning message:
“package ‘ggplot2’ was built under R version 4.2.3”
Warning message:
“package ‘tibble’ was built under R version 4.2.3”
Warning message:
“package ‘tidyr’ was built under R version 4.2.3”
Warning message:
“package ‘readr’ was built under R version 4.2.3”
Warning message:
“package ‘purrr’ was built under R version 4.2.3”
Warning message:
“package ‘dplyr’ was built under R version 4.2.3”
Warning message:
“package ‘stringr’ was built under R version 4.2.3”
Warning message:
“package ‘forcats’ was built under R version 4.2.3”
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

### 1. For each of the sample tables, describe what each observation and each column represents.
```r
            table1
            #> # A tibble: 6 × 4
            #>   country      year  cases population
            #>   <chr>       <dbl>  <dbl>      <dbl>
            #> 1 Afghanistan  1999    745   19987071
            #> 2 Afghanistan  2000   2666   20595360
            #> 3 Brazil       1999  37737  172006362
            #> 4 Brazil       2000  80488  174504898
            #> 5 China        1999 212258 1272915272
            #> 6 China        2000 213766 1280428583

            table2
            #> # A tibble: 12 × 4
            #>   country      year type           count
            #>   <chr>       <dbl> <chr>          <dbl>
            #> 1 Afghanistan  1999 cases            745
            #> 2 Afghanistan  1999 population  19987071
            #> 3 Afghanistan  2000 cases           2666
            #> 4 Afghanistan  2000 population  20595360
            #> 5 Brazil       1999 cases          37737
            #> 6 Brazil       1999 population 172006362
            #> # ℹ 6 more rows

            table3
            #> # A tibble: 6 × 3
            #>   country      year rate             
            #>   <chr>       <dbl> <chr>            
            #> 1 Afghanistan  1999 745/19987071     
            #> 2 Afghanistan  2000 2666/20595360    
            #> 3 Brazil       1999 37737/172006362  
            #> 4 Brazil       2000 80488/174504898  
            #> 5 China        1999 212258/1272915272
            #> 6 China        2000 213766/1280428583
```

        Every table's observes the same variables documenting the same observations, a country in a year with a number of people and number of cases of a disease. aka country, year, population, cases. However, each table has a little different of a layout and appearance for the observations 

`table1` has a row for each observation and the columns separate the details of the observation with a column for each variable: country, year, population and cases

`table2` has two rows for each observation both rows have the country and year as their first two data columns. The variables population and cases are specified in a separate column called type and their values are stored in a column called count that stores the value of population or cases

`table3` has one row for each observation with the value for population and cases presented as a fraction of cases divided by population stored in the column named rate

### 2. Sketch out the process you’d use to calculate the `rate` for `table2` and `table3`. You will need to perform four operations:  

-   a. Extract the number of TB cases per country per year.
-   b. Extract the matching population per country per year.
-   c. Divide cases by population, and multiply by 10000.
-   d. Store back in the appropriate place.  

You haven’t yet learned all the functions you’d need to actually perform these operations, but you should still be able to think through the transformations you’d need.

In [5]:

table1 |>
    group_by(country, year) |>
    summarize(rate = cases / population * 10000)

table2 |>
    group_by(country, year) |>
    arrange(type)
    #then i would do the first row in each group devided by the last row in each group

#table3 |>
    #i would create a new row and then use string splitting and type casting to devide everything before the / by everything after the /

`summarise()` has grouped output by 'country'. You can override using the
`.groups` argument.

  country     year rate
1 Afghanistan 1999 0.372741
2 Afghanistan 2000 1.294466
3 Brazil      1999 2.193930
4 Brazil      2000 4.612363
5 China       1999 1.667495
6 China       2000 1.669488

   country     year type       count
1  Afghanistan 1999 cases             745
2  Afghanistan 2000 cases            2666
3  Brazil      1999 cases           37737
4  Brazil      2000 cases           80488
5  China       1999 cases          212258
6  China       2000 cases          213766
7  Afghanistan 1999 population   19987071
8  Afghanistan 2000 population   20595360
9  Brazil      1999 population  172006362
10 Brazil      2000 population  174504898
11 China       1999 population 1272915272
12 China       2000 population 1280428583